@media only screen and (max-width: 599px) {
    #header {
        font-size: 30px;
        font-family: "Michroma";
        text-align: center;
    }
    .menu {
        width: 80px;
        height: 170px;
        font-size: 20px;
        text-align: center;
    }
    #hero {
        font-size: 25px;
    }
    .info > div {
        font-size: 20px;
    }
    .pics {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: inset 0 0 15px #b7ffee;
        background-image: radial-gradient(rgba(183, 255, 238, 0.72), #0d0630);
        border-radius: 200px;
        margin: auto 15px;
    }
    #footer {
        position: absolute;
        bottom: -800px;
        text-align: center;
        margin: 10px;
    }
}
@media only screen and (min-width: 599px) {
    #header {
        font-size: 35px;
        font-family: "Michroma";
        padding: 1px;
    }
    .menu {
        width: 125px;
        height: 197px;
        font-size: 30px;
        text-align: center;
    }
    #hero {
        font-size: 30px;
    }
    .info > div {
        font-size: 25px;
    }
    .pics {
        display: flex;
        flex-direction: row;
        position: absolute;
        box-shadow: inset 0 0 15px #b7ffee;
        background-image: radial-gradient(rgba(183, 255, 238, 0.53), #0d0630);
        border-radius: 100px;
        margin: auto 20px;
    }
    .pics p {
        text-align: right;
        bottom: 0;
    }
    #footer {
        position: absolute;
        bottom: -250px;
        text-align: center;
    }
}

#header {
    position: relative;
    background-color: rgba(139, 190, 178, 0.28);
    box-shadow: inset 0 0 15px rgba(183, 255, 238, 0.86);
    border-radius: 10px;
    color: #e6f9af;
    text-shadow: 0 -2px 25px rgba(13, 6, 48, 0.25);
}
.menu {
    position: absolute;
    right: 0;
    background-color: rgba(13, 6, 48, 0.31);
    box-shadow: inset 0 0 15px rgba(183, 255, 238, 0.64);
    border-radius: 10px;
    margin-right: 10px;
    font-family: roboto mono;
    z-index: 1;
    text-shadow: 0 2px 10px #0d0530;
    text-decoration: none;
}
#hero {
    text-align: center;
    border-radius: 10px;
    font-family: michroma;
    color: #0d0630;
    text-shadow: 0 1px 25px rgba(183, 255, 238, 0.74);
}

.pics img {
    clip-path: circle(35%);
    object-fit: cover;
    object-position: center;
    position: relative;
    height: 550px;
}
#footer {
    font-family: Verdana;
    font-size: 15px;
    color: rgba(13, 6, 48, 0.62);
}
